#contact {
    padding: 8rem 0rem;    
    cursor:default;
    max-width: 1400px;   
    box-sizing: border-box;  
    align-items: center;
    justify-content: center;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-container {
    display: flex;
    gap: 5rem;
    align-items: center;
}
.contact-title {
    font-size: 30px;
    font-weight: 700;    
    text-align: left;
}
.contact-desc {
    font-size: 20px;
    font-weight: 400;   
    margin-bottom: 2rem; 
}
.card-text {
    font-size: 1rem;   
}

.card-styles {
    background: #efefef;
    padding: 1rem 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}

.card-styles:hover {
    background-color: #dcdcdc;
    transition: all 0.2s;
    transform: translateY(-5px);
}


@media only screen and (max-width: 950px) {  
    #contact {
        padding: 25%  0%;
    } 
    .contact-title {
        font-size: 4.5vw;      
    }
    .contact-container {
        display: flex;
        flex-direction: column-reverse; 
        width: 100%;
        gap: 2rem;
    }
    .contact-cards {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0;
        
    }
    .card-text {
        font-size: 1.6vw;   
    }
  
    .contact-text-inputs {
        margin-top: 0;
    }
    .contact-desc {
        width: 150%;
        font-size: 2.8vw;         
    }
    .contact-email {
        width: 150%;
    }   
}

@media only screen and (max-width: 650px) {     
    .contact-title {
        font-size: 4.5vw;      
    }   
    .contact-desc {      
        font-size: 2.8vw;          
    }   
    .contact-card{
        font-size: 20px;   
    }
    .contact-cards {
        display: block;      
    }
    .card-text {
        font-size: 3vw;   
    }
    .contact-cards {       
        display: none;
    } 
}