#footer {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    cursor: default;
    background: #f5f5f5;
    width: 100%;
    padding: 25px 0;
  }
  
  .footer-container {
    max-width: 1200px;
  }
  
  .footer-tittle {
    font-size: 1rem;
    color: #5a5a5a;
    margin-left: 30px;
    width: 100%;
  }
  
  @media (max-width: 600px) {  
    .footer-tittle {
      font-size: 3vw;
    }
  }