#footer {  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    background: #f5f5f5;
    width: 100%;       
}
.footer-container {   
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;
    margin: 4rem 5vw 2.5rem 5vw;        
}
.footer_high {
    justify-content: space-between;
    display: flex;
    text-align: left;
}
.footer-tittle {   
    font-size: 1rem;
    color: #5a5a5a;
    margin-right: auto; 
}
.footer-tittle img{
    height: 3.5rem;     
}
.footer-links {
    display: flex;
    font-size: 1rem;
}
.footer-column {
    flex: 1;
    margin-right: 2rem;
    width: 10rem;
}
.footer-column h3 { 
    margin: 0 0 1rem 0;
}
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column ul li {
    margin-bottom: 0.5rem;
}
.footer-column ul li a {
    color: #363636;
    text-decoration: none;
}
.footer-column ul li a:hover {
    color: #747474;
}
.divider {  
    border: none;
    border-top: 0.6px solid #e7e7e7;
    margin: 3rem 0 1.5rem 0;
}
.footer_low {
    justify-content: space-between;
    display: flex;
}
.footer-social-icons {
    display: flex;
    gap: 0.5rem
}
.footer-terms {
    display: flex;
    gap: 0.5rem;      
}
.footer-terms .icon-button {
    background: none; border: none;
    cursor: pointer;
    padding: 0;    
    color: #5a5a5a;
    font-size: 0.87rem;
    font-family: 'Segoe UI';
    font-weight: 500;
}
.footer-social-icons .icon-button {
    background: none; border: none;
    cursor: pointer;
    padding: 0;
    height: 24px; 
    color: #363636;
}
.footer-social-icons .icon-button:hover .icon {
    fill: #5a5a5a;
}
@media (max-width: 1000px) {  
    .footer_high {
        display: block;   
        margin-left: 7vw; 
    }
    .footer-links {
        display: block;
        margin: 2rem 0;      
    }
    .footer-social-icons {
        display: flex;
        justify-content: center;
    }   
    .divider {         
        margin: 1rem 0 1.5rem 0;
    }     
    .footer-column {
        margin-bottom: 1.6rem;
    }
}
@media (max-width: 600px) {
    .footer_low {
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .footer-tittle,.footer-terms, .footer-terms .icon-button {
        font-size: 3.2vw;
    }
    .footer-tittle img {
        height: 10vw;
    }
    .footer-links {
        font-size: 4vw;
    }
    .footer-terms {
        margin-top: 0.8rem; display: flex;
        justify-content: center;    
    }     
}