#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: default;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;

}

.home-avatar img {
  width: auto;
  height: 28rem;
  transition: all 0.2s;
}

.home-avatar img:hover {
  transition: all 0.2s;
  transform: translateY(-5px);
}

.home-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--title);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.home-desc {  
  font-size: 20px;
  margin: 0 4% 20px 4%;
  color: var(--text)
}

.home-desc img {
  height: auto;
  width: 20px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .home-avatar img {
    height: 50vw;
  }
}

@media (max-width: 550px) {
  .home-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
 
  .home-desc {
    font-size: 16px;
    margin: 20px 4% 20px 4%;
  }

  .home-desc img {
    width: 15px;
  }  
}
