#lambders {
    padding: 8rem 2rem;
    cursor:default;
    max-width: 1100px;   
    box-sizing: border-box;  
    align-items: center;
    justify-content: center;
 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.lambders-container {
    display: flex;
}
.lambders-right {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: left;
}
.lambders-title {
    font-size: 35px;
    font-weight: 400;  
    margin-left: 1.3rem;
}
.lambders-text {
    font-size: 18px;
    margin: 1rem 0;    
    margin-left: 1.3rem;
}

.lambders-container img {
    height: 30rem;
}

.general-button {
    margin-left: 1.2rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 30px;
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #AA1D1D;
    border: 2px solid #AA1D1D;
    color: white;
    width: max-content;
}

.general-button:hover {
    background-color: #c42e2e;
    transition: all 0.3s;   
    color: white;
}

@media only screen and (max-width: 960px) {  
    .lambders-container {
        display: block;
    }
    
    .lambders-container img{
        width: 80vw;        
        object-fit: cover;    
    }
}




@media only screen and (max-width: 600px) {  
   
   
    .lambders-title {
        font-size: 5.5vw;    
        margin-left: 0;   
    }   
    .lambders-text {
        font-size: 4.2vw; 
        margin-left: 0;   
        margin-right: 6%;  
    }
    .general-button {
        margin-left: 0;  
        font-size: 1rem; 
    }
    .lambders-container img{
        display: none;  
    }
   
}