.navbar {   
    position: fixed;
    top: 3%;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 200px;
    padding: 8px 150px;
    background-color: var(--background_bars);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5rem;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
}

.navbar-container a {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 17px;
    color: var(--title);
    transition: all 0.2s;
}  

.navbar-container a:hover{
    background-color: var(--bars_options_hover);
    backdrop-filter: blur(5px); 
    border-radius: 5rem;
    transition: all 0.2s;
  
}

@media only screen and (max-width: 600px) {
    .navbar {         
        padding: 8px 90px;
    }   
    .navbar-container a {
        padding: 7px 15px;
        font-size: 14px;
    }  
    .navbar-container a.home-icon {
        transform: scale(0.7);
        padding: 4.5px 15px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar {         
        padding: 1% 19%;
    }   
    .navbar-container a {
        padding: 4% 7%;
        font-size: 3.2vw; 
    }  
}

@media only screen and (max-width: 340px) {
    .navbar {
        display: none;
    }
}